
<IfModule mod_rewrite.c>

	RewriteEngine on
	
	# To redirect all users to access the site WITHOUT the 'www.' prefix,
	RewriteCond %{HTTP_HOST} ^www\.martinjoiner\.co.uk$ [NC]
	RewriteRule ^(.*)$ http://martinjoiner.co.uk/$1 [L,R=301]

	# Redirect CV to cv
  RewriteCond %{REQUEST_URI} CV
  RewriteRule CV /cv [L,R=301]

</IfModule>

<ifModule mod_expires.c>

   <filesMatch "\.min\.css$">
      ExpiresActive On
      ExpiresDefault "access plus 30 days"
  </filesMatch>

</ifModule>

deny from 195.43.128.194
