---
title: Martin Joiner - Full-stack developer in Bristol
permalink: index.html
layout: main.njk
---

<div class="homeWrap">

    <img class="homeBlink" src="/images/blink4portfolio.gif">

    <p>Martin Joiner: <strong>Full-full-stack developer</strong> <em>(the extra &quot;full&quot; is for UX)</em>. Based in Bristol, UK. </p>

    <p id="emailPlaceholder"></p>

    <div class="socWrap">

        <a class="socialLink gitLink" target="_blank" href="https://github.com/martinjoiner"
           title="Martin Joiner on Github">GitHub</a>

        <a class="socialLink soLink" target="_blank" href="https://stackoverflow.com/users/2054138/martin-joiner"
           title="Martin Joiner on Stack Overflow">Stack Overflow</a>

        <a class="socialLink liLink" target="_blank" href="https://www.linkedin.com/in/martinjoiner/"
           title="Martin Joiner on LinkedIn">LinkedIn</a>

    </div>

</div>
